<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SatIPTV.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SatIPTV.MySettings>
            <setting name="ChannelList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="DVBSChannelListUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/dersnyke/satipplaylists/main/satip_astra192e.m3u</value>
            </setting>
            <setting name="TvHeadendServer" serializeAs="String">
                <value>http://beispiel:9981</value>
            </setting>
            <setting name="ShowChannelListLogos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowChannelList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTvHeadend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TvHeadendUser" serializeAs="String">
                <value />
            </setting>
            <setting name="TvHeadendPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ChannelListWidth" serializeAs="String">
                <value>240</value>
            </setting>
        </SatIPTV.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>